<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <h1>
    <div style=" background-color: yellow ;">rayaan</div>
    <div style=" background-color: yellow ;">isse</div> 
    <span style=" background-color: green ;">qali</span>
    <span style=" background-color: green ;">yusuuf</span>
     <p>farah</p>
   </h1> 
</body>
</html>