

h1 {
    /* using color names */
    /* color: green; */

    /* rgb */
    /* color: rgb(125, 0, 125) ; */
    /* hexadecimal */
    /* color: #ff0; */
    /* HSL */
    color: hsl(229, 84.6%, 43%);

}
body{
    background-color: rgb(0, 0, 0);
}
div{
   color: white;
   height: 200px;
   width: 200px;
   background-color: rgba(255, 0, 0, 0.4);
   /* opacity:0.8; */
}



